.SingleFormStyles {
    --colorPrimary: hsl(146, 100%, 39%);
    --colorPrimaryHover: hsl(146, 100%, 39%, 0.8);
    --colorGrey: hsl(0, 0%, 30%);

    grid-area: main;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.single-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4px;

    width: 580px;
    height: 450px;

    ::first-child {
        grid-column: 1;
    }

    ::last-child {
        grid-column: 2;
    }
}

form {
    width: 290px;
    height: 100%;
}

.active {
    z-index: 99;
}

.mask {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* line-height: 5rem;
    letter-spacing: 1px; */
    font-size: 3rem;
    border-radius: 20px;
    cursor: pointer;
    padding: 32px;

    /* width: auto; */
    /* height: 100%; */
    /* z-index: 99; */

    color: white;
    background: var(--colorPrimary);
    box-shadow: 0 0 8px var(--colorGrey);

    &:hover,
    &:focus {
        background: var(--colorPrimaryHover);
    }
}

.button-toggle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    outline: none;
    width: auto;
    background: var(--colorPrimary);
    color: white;
    border: 0;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    margin: 8px 0 8px 0;

    @media all and (min-width: 601px) {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .single-form-container {
        display: flex;
        flex-flow: column wrap;
        align-content: center;

        width: auto;
    }

    form {
        height: 420px;
    }

    .mask {
        display: none;
    }
}
