.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: grey;
}
