.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: grey;
}

/* TIMER */

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // background-color: var(--color-bg);
  // color: var(--color-font);

  &__length {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__label {
      display: flex;
      flex-direction: column;

      &__children {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  &__session {
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--color-font);
    border-radius: 10px;
  }

  &__buttons {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.2s;

  &:hover {
    border: 1px solid var(--color-font);
    background-color: var(--color-bg-hover);
  }

  &:active {
    border: 1px solid var(--color-font);
    background-color: var(--color-bg-click);
  }
}

.icon-header {
  max-width: 125px;
}

.icon {
  width: 25px;
}
