:root {
    --color-white-dark: hsl(0, 0%, 96%);
    --color-white: hsl(0, 0%, 99%);

    --color-grey-light: hsl(0, 0%, 35%);
    --color-grey: hsl(0, 0%, 30%);
    --color-grey-dark: hsl(0, 0%, 20%);
    --color-grey-darker: hsl(0, 0%, 15%);

    --color-black: hsl(0, 0%, 10%);

    --color-green-light: hsl(146, 100%, 55%);
    --color-green-lightest: hsl(146, 95%, 69%);
    --color-green: hsl(146, 100%, 39%);
    --color-green-dark: hsl(146, 100%, 25%);
    --color-green-darkest: hsl(146, 100%, 20%);

    --color-green-form: hsl(146, 78%, 45%);

    --color-red: hsl(0, 100%, 60%);

    --color-background: var(--color-white);
    --color-font: var(--color-black);

    --color-primary-lighter: var(--color-green-light);
    --color-primary-lightest: var(--color-green-lightest);
    --color-primary: var(--color-green);
    --color-primary-darker: var(--color-green-dark);
    --color-primary-darkest: var(--color-green-darkest);
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
    format: 'woff2';
    src: url('./static/fonts/Lato-Regular.woff2');
    font-family: 'Lato-Regular';
    font-weight: normal;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    // background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-family: 'Lato-Regular', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--color-grey-dark);
    cursor: default;
}

h2 {
    color: var(--color-grey-dark);
    cursor: default;
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

.particles {
    --color1: var(--color-green-light);
    --color2: var(--color-green);

    background: var(--color2); /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        var(--color1),
        var(--color2)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        var(--color1),
        var(--color2)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
