:root {
    --color-white: hsl(0, 0%, 96%);
    --color-grey: rgb(73, 73, 73);
    --color-black: rgb(43, 43, 43);
    --color-green: #00c957;
    --color-green-dark: #007d36;
    --color-green-light: #17ff7b;
    --color-green-lightest: #63fca5;
    --color-green-form: #19ce67;
    --color-background: var(--color-white);
    --color-font: var(--color-black);
    --color-primary: var(--color-green);
    --color-primary-darker: var(--color-green-dark);
    --color-primary-lighter: var(--color-green-light);
    --color-primary-lightest: var(--color-green-lightest);
}

@font-face {
    format: 'woff2';
    src: url('./static/fonts/Lato-Regular.woff2');
    font-family: 'Lato-Regular';
    font-weight: normal;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}
