:root {
  --color-primary: #00c957;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

@font-face {
  font-family: 'Lato-Regular';
  src: url('/static/Lato-Regular.woff2');
  format: 'woff2';
  font-weight: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // height: calc(100% - 40px);
  // font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Lato-Regular", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
